This dataset only contains information corresponding to the ranking of the 10 cities in Europe with the highest concentration of air pollutants.

https://www.autobild.es/noticias/10-ciudades-europeas-exceden-limite-contaminacion-espanola-1270120

In [1]:
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [4]:
data = {'City' : ['Milan', 'Atenas', 'Praga', 'Barcelona', 'Berlín', 'Roma', 'París', 'Bruselas', 'Hamburgo', 'Amsterdam'],
        'Pollutant': [19.7, 19.7, 12.7, 12.6, 12.2, 11.7, 11.2, 10.5, 10, 9.5],
        'Unit': ['ug/m3','ug/m3','ug/m3','ug/m3','ug/m3','ug/m3','ug/m3','ug/m3','ug/m3','ug/m3']}

In [5]:
data = pd.DataFrame (data)
data

        City  Pollutant   Unit
0      Milan       19.7  ug/m3
1     Atenas       19.7  ug/m3
2      Praga       12.7  ug/m3
3  Barcelona       12.6  ug/m3
4     Berlín       12.2  ug/m3
5       Roma       11.7  ug/m3
6      París       11.2  ug/m3
7   Bruselas       10.5  ug/m3
8   Hamburgo       10.0  ug/m3
9  Amsterdam        9.5  ug/m3

In [7]:
data.to_csv ('European Cities Pollutant.csv', index = False)